.boardBackground {
    display: flex;
    justify-content: center;
    align-items: center;
}

.win {
    background-color: rgb(168, 208, 240);
    border: 3px solid black;
    position: absolute;
    font-size: 1.2em;
    padding: 20px;
    width:20vw;
    border-radius: 1.1em;
    box-shadow: 0 0 10px 0 black;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.win hr {
    width:20vw;
}

.win header {
    font-weight: 500;
    text-align: left;
}

.win p {
    text-align: center;
    font-weight: bold;
}

.win div {
    text-align: center;
    align-self: center;
    font-size:0.9em;
    background-color:rgb(43, 122, 226);
    padding: 5px;
    border-radius: 0.5em;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

.win div:hover {
    background-color:rgb(73, 136, 218);
}

@media (max-width: 700px) {
    .board tbody tr td button {
        margin:5px;
        padding:23.9px;
    }
}